body {
  margin: 0;
  padding: 0;
  min-width: 100%;
  font-family: "PT Sans", Arial sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;
  text-align: center;
  background-color: #f2f2f2;
}

a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #333333;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

/*=======================*/
/*==Blocks for design====*/
/*=======================*/

.wrapper {
  max-width: 1200px;
  margin: 40px auto;
  box-shadow: 0 5px 10px 5px rgba(68, 47, 15, 0.27);
}

.wrapper-darken {
  background: #7c3c3c linear-gradient(6deg, transparent 73%, #572925 27%);
  color: #f2f2f2;
}

.wrapper-lighten {
  background: #f4e6c2;
  color: #333333;
}

.decor {
  width: 100%;
  height: 60px;
  background: #572925;
}

.decor p {
  width: 90%;
  text-align: left;
}

.spacer {
  display: none;
}

@media (min-width: 768px) {
  .spacer {
    display: block;
    width: 100%;
    height: 350px;
  }
}

/*=======================*/
/*=======Top menu========*/
/*=======================*/

.menu__list {
  margin: 0;
  padding: 0;
  list-style: none;
  background: rgba(247, 210, 117, 0.38);
}

.menu__item {
  display: flex;
  height: 56px;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  border-bottom: 2px solid #deb887;
  color: #333333;
}

.menu__item--interval {
  display: none;
}

@media (min-width: 768px) {
  .menu__list {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .menu__item {
    border-bottom: none;
  }

  .menu__item--interval {
    display: block;
    width: 90px;
    height: 1px;
  }
}

.menu__link {
  margin: auto;
  color: #4E2623;
}

.menu__link:hover {
  color: #deaa87;
}

/*=======================*/
/*====Logotype__eagle====*/
/*=======================*/

.logo-eagle__circle {
  position: absolute;
  width: 45px;
  height: 45px;
  top: 48px;
  left: calc(50% - 20px);
  border-radius: 120px;
  box-shadow: 0 0 0 3px #f4e6c2, 0 0 13px #f4e6c2;
  background: #f4e6c2;
  z-index: 2;
}

.logo-eagle__image {
  position: absolute;
  width: 45px;
  height: 45px;
  top: 48px;
  left: calc(50% - 20px);
  z-index: 4;
}

@media (min-width: 768px) and (max-width: 1200px) {
  .logo-eagle__circle {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 81px;
    left: calc(50% - 50px);
    border-radius: 120px;
    box-shadow: 0 0 0 3px #f4e6c2, 0 0 13px #f4e6c2;
    background: #f4e6c2;
    z-index: 2;
  }

  .logo-eagle__image {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 83px;
    left: calc(50% - 50px);
    z-index: 4;
  }
}

@media (min-width: 1200px) {
  .logo-eagle__circle {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 81px;
    left: calc(50% - 50px);
    border-radius: 120px;
    box-shadow: 0 0 0 3px #f4e6c2, 0 0 13px #f4e6c2;
    background: #f4e6c2;
    z-index: 2;
  }

  .logo-eagle__image {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 83px;
    left: calc(50% - 50px);
    z-index: 4;
  }
}

/*============*/
/*==Notarius==*/
/*============*/

.notarius {
  display: block;
  width: auto;
  margin: 0 auto;
  padding: 20px 0;
  color: #f4e6c2;
}

.notarius__preamble {
  display: none;
}

.notarius__header {
  margin: 0 auto;
  font-size: 18px;
  font-weight: 500;
}

.notarius__name {
  margin: 0 auto;
  font-size: 30px;
  font-weight: 700;
}

.notarius__description {
  display: none;
}

.notarius__image {
  display: none;
}


@media (min-width: 768px) {
  .notarius {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 90%;
    height: 350px;
    text-align: left;
  }

  .notarius__preamble {
    display: block;
    margin: 0;
    padding-top: 20px;
  }

  .notarius__header {
    margin: 0;
    font-size: 30px;
  }

  .notarius__name {
    margin: 0;
    font-size: 42px;
    font-weight: 300;
  }

  .notarius__description {
    display: block;
    width: 430px;
    margin: 0;
    padding-bottom: 20px;
    line-height: 24px;
  }

  .notarius__image {
    display: block;
    align-self: flex-end;
    width: 45%;
  }
}

@media (min-width: 1200px) {
  .notarius {
    width: 90%;
  }
}

/*====================*/
/*===Actions-header===*/
/*====================*/

.actions-header {
  margin: 0;
  padding: 20px;
  width: 100%;
  font-size: 30px;
  font-weight: 400;
  color: #4E2623;
}

/*=============*/
/*===Actions===*/
/*=============*/

.actions {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.actions__list {
  list-style: none;
  margin: 0 auto;
  text-align: left;
  font-size: 14px;
  line-height: 18px;
}

.actions__item {
  padding-left: 40px;
  padding-bottom: 10px;
  background: url("../img/pencil_min.png") no-repeat;
  cursor: pointer;
  color: #7c3c3c;
}

.actions__item:hover {
  color: #7c3c3c;
  font-weight: bolder;
}

.actions__content {
  display: none;
}

.actions__doc {
  display: none;
}

.actions__doc--active {
  display: block;
  width: 80%;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 10px;
  border-left: 5px solid rgba(222, 170, 135, 0.3);
  border-right: 5px solid rgba(222, 170, 135, 0.3);
  text-transform: initial;
  text-align: left;
}

.actions__checklist {
  display: inline-block;
  margin-bottom: 10px;
  font-weight: bold;
  text-transform: uppercase;
  color: #7C3C3C;
}

.actions__checklist:hover {
  color: #deaa87;
}

.actions__checklist:active {
  font-weight: bold;
  color: #7C3C3C;
}


@media (min-width: 768px) {
  .actions {
    flex-wrap: nowrap;
    margin: 0 auto;
    width: 80%;
  }

  .actions__list {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 45%;
    margin: 10px;
    padding: 0;
    font-size: 18px;
    line-height: 26px;
  }

  .actions__doc {
    display: none;
  }

  .actions__doc--active {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    position: relative;
    width: 50%;
    margin-bottom: 20px;
    padding: 10px;
    text-align: left;
    text-transform: initial;
  }
}

/*============*/
/*==Services==*/
/*============*/

.services {
  width: 100%;
  color: #f4e6c2;
}

.services__header {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 50px;
}

.services h2 {
  margin: 0 auto;
  padding-top: 20px;
  width: 80%;
  font-size: 30px;
  font-weight: 400;
}

.services__header p {
  display: none;
}

.services__form {
  display: flex;
  flex-direction: column;
  padding-bottom: 40px;
  padding-left: 40px;
  padding-right: 20px;
}

.servises__field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 80%;
  padding-bottom: 20px;
  padding-left: 60px;
  text-align: left;
}

.servises__field label {
  margin-bottom: 20px;
  font-weight: bold;
}

.servises__field input, textarea {
  flex: initial;
  border: 1px solid #f4e6c2;
  border-radius: 3px;
  background-color: #f4e6c2;
  color: #572925;
  outline-color: #ff5554;
}

.servises__field input {
  width: 80%;
  max-width: 500px;
  height: 40px;
  padding-left: 20px;
  font-size: 14px;
}

.servises__field input:hover {
  background-color: rgba(249, 243, 239, 0.9);
  color: #572925;
}

.servises__field input:focus {
  background-color: rgba(249, 243, 239, 0.9);
  color: #572925;
}

.servises__field input[type="file"] {
  padding: 2px;
  padding-right: 19px;
}

.servises__field input[type="checkbox"] {
  width: 15px;
  height: 15px;
  margin-top: 20px;
}

.servises__field textarea {
  box-sizing: border-box;
  width: 90%;
  min-height: 250px;
  padding: 20px;
  font-family: "PT Sans", Arial sans-serif;
}

.servises__field textarea:hover {
  background-color: rgba(249, 243, 239, 0.9);
}

.servises__field textarea:focus {
  background-color: rgba(249, 243, 239, 0.9);
}

.servises__agreement input {
  /*Скрыть штатный чекбокс, сделать свой через псевдокласс*/
  /*display: none;*/
}

.servises__agreement label {
  text-transform: initial;
  font-weight: normal;
}

.servises__agreement a {
  text-transform: uppercase;
  font-weight: bold;
  color: #572925;
}

.servises__agreement a:hover {
  color: #f4e6c2;
}

@media (min-width: 768px) {
  .services__header p {
    display: block;
    text-align: left;
  }

  .services__form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 100px;
    padding-bottom: 40px;
  }

  .servises__field {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    padding-bottom: 40px;
    padding-left: 30px;
    text-align: left;
  }

  .servises__field label {
    margin: 0;
    padding: 0;
    font-weight: bold;
  }

  .servises__field input, textarea {
    margin: 0;
    padding: 0;
    padding-left: 20px;
    width: 80%;
    max-width: 640px;
    box-sizing: border-box;
    border: 1px solid #f4e6c2;
    border-radius: 3px;
    background-color: #f4e6c2;
    color: #572925;
    outline-color: #ff5554;
  }

  .servises__field input {
    height: 40px;
  }

  .servises__field textarea {
    width: 80%;
  }

  .servises__agreement {
    width: 80%;
  }
}

/*.form-group {*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  align-items: start;*/
/*}*/

/*.form-group .captcha {*/
/*  flex-direction: row;*/
/*}*/

/*.captcha-group {*/
/*  display: flex;*/
/*  margin-top: 20px;*/
/*}*/

/*.img-captcha, .refresh-captcha {*/
/*  width: 135px;*/
/*  height: 45px;*/
/*}*/

/*.agreement {*/
/*  text-align: left;*/
/*}*/

/*.btn-light {*/
/*  height: 45px;*/
/*  padding: 10px 20px;*/
/*  border: 1px solid #f4e6c2;*/
/*  border-radius: 3px;*/
/*  background-color: #f4e6c2;*/
/*  text-transform: uppercase;*/
/*  line-height: 24px;*/
/*  color: #572925;*/
/*}*/

/*.btn-light:hover {*/
/*  background-color: rgba(249, 243, 239, 0.9);*/
/*}*/

/*.btn-light:focus {*/
/*  outline: none !important;*/
/*  background-color: rgba(249, 243, 239, 0.9);*/
/*}*/

/*.btn-light:active {*/
/*  background-color: #7c3c3c;*/
/*  color: #f4e6c2;*/
/*  outline: none !important;*/
/*}*/

/*.btn-light::-moz-focus-inner {*/
/*  border: 0 !important;*/
/*}*/

.btn-primary {
  min-width: 250px;
  height: 45px;
  margin: 0 auto;
  margin-top: 20px;
  margin-right: 780px;
  padding: 10px 20px;
  border: 1px solid #f4e6c2;
  border-radius: 3px;
  background-color: #f4e6c2;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 24px;
  color: #572925;
}

.btn-primary:hover {
  background-color: rgba(249, 243, 239, 0.9);
}

.btn-primary:active {
  background-color: #7c3c3c;
  color: #f4e6c2;
  outline: none !important;
}

.btn-primary::-moz-focus-inner {
  border: 0 !important;
}

/*================*/
/*====Tariffs=====*/
/*================*/

.tariffs {
  display: none;
}

@media (min-width: 768px) {
  .tariffs {
    display: block;
    padding-right: 10px;
    width: 99%;
    height: 550px;
    overflow-y: scroll;
    overflow-x: hidden;
    text-transform: none;
    color: #f4e6c2;
  }
}

.tariffs__header th {
  width: auto;
  border: 1px solid #f4e6c2;
  padding: 10px;
}

.tariffs__header th:nth-child(n+3) {
  width: 140px;
}

.tariffs__table {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 20px;
  border: 1px dotted #f4e6c2;
  border-bottom: 1px solid #f4e6c2;
  border-collapse: collapse;
}

.tariffs__table caption {
  margin: 10px auto;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 400;
}

.tariffs__table td {
  padding: 10px;
  border: 1px dotted #f4e6c2;
  text-align: left;
}

.tariffs__table td:first-child {
  vertical-align: inherit;
}

/*===============*/
/*======News=====*/
/*===============*/

.news {
  margin: 0 auto;
  width: 80%;
  color: #4E2623;
}

.news__item h4 {
  max-width: 99%;
}

.news__list {
  margin: 0;
  padding: 0;
  padding-bottom: 20px;
  list-style: none;
}

.news h2 {
  margin: 0;
  padding-top: 20px;
  font-size: 30px;
  font-weight: 600;
}

.news__item h4 {
  margin: 0 auto;
  padding: 0;
  padding-bottom: 10px;
  display: block;
  width: 600px;
}

.news__item p {
  margin: 0;
  padding: 0;
  text-align: left;
  text-transform: none;
}

.news__date {
  display: block;
  width: 85px;
  height: 25px;
  margin-right: 900px;
  margin-top: 20px;
  border-radius: 4px;
  background-color: rgba(222, 170, 135, 0.3);
  text-transform: uppercase;
  font-weight: bold;
  color: #7c3c3c;
  line-height: 25px;
}

.news__read-more {
  display: block;
  width: 120px;
  height: 25px;
  margin-right: 900px;
  margin-top: 10px;
  text-align: left;
  font-weight: bold;
  color: #7c3c3c;
}

.news__read-more:hover {
  color: #deaa87;
}

/*================*/
/*==Footer & map==*/
/*================*/

.footer {
  display: flex;
  flex-direction: column;
  min-height: 350px;
  width: 80%;
}

.footer iframe {
  border: none;
}

.map {
  width: 100%;
  height: 350px;
  margin: 20px 0;
  margin-left: 13%;
  background-image: url("../img/map-background.png");
}

.contacts {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin: 20px 0;
  margin-left: 15%;
  color: #f4e6c2;
}

.contacts h2 {
  margin: 0;
  font-size: 30px;
  font-weight: 400;
}

.contacts__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.contacts__item {
  font-size: 16px;
  line-height: 24px;
}

.rights {
  width: 100%;
  margin: 0 auto;
  padding: 24px;
  font-size: 10px;
  text-transform: initial;
  color: #f4e6c2;
  text-align: left;
}

@media (min-width: 768px) {
  .footer {
    flex-direction: row;
    width: 100%;
    min-height: 350px;
    margin: 0 auto;
  }

  .map {
    width: 50%;
    height: 350px;
    margin: 20px 0;
    margin-left: 5%;
    background-image: url("../img/map-background.png");
  }

  .contacts {
    margin: 0;
  }
}

/*===============*/
/*===Scrollbar===*/
/*===============*/

::-webkit-scrollbar {width: 3px; height: 3px;}
::-webkit-scrollbar-button {background-color: #a0401a;}
::-webkit-scrollbar-track {background-color: #deaa87;}
::-webkit-scrollbar-track-piece {background-color: #f4e6c2;}
::-webkit-scrollbar-thumb {height: 20px; background-color: #a0401a; border-radius: 3px;}
::-webkit-scrollbar-corner {background-color: #deaa87;}
