body {
  margin: 0;
  padding: 0;
  min-width: 1200px;
  font-family: "PT Sans", Arial sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;
  text-align: center;
  background-color: #f2f2f2;
}

a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #333333;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}


.menu__list,
.notarial-action-list,
.documents-licens-list,
.news-list,
.contacts-list {
  list-style: none;
}

.notarius,
.notarial-action,
.documents-licens,
.our-specialists,
.main-footer {
  display: flex;
  min-height: 350px;
}

/*=======================*/
/*==Blocks for design====*/
/*=======================*/

.wrapper {
  width: 1200px;
  margin: 40px auto;
  box-shadow: 0 5px 10px 5px rgba(68, 47, 15, 0.27);
}

.wrapper-darken {
  background: #7c3c3c linear-gradient(6deg, transparent 73%, #572925 27%);
  color: #f2f2f2;
}

.wrapper-darken--forms {
linear-gradient(6deg, transparent 92%, #572925 27%);
}

.wrapper-lighten {
  background: #f4e6c2;
  color: #333333;
}

.centering {
  width: 1120px;
  margin: 0 auto;
  border: 1px  #fe3d1f;
}

.decor {
  width: 1200px;
  height: 60px;
  background: #572925;
}

.spacer {
  display: block;
  width: 1200px;
  height: 350px;
}

/*=======================*/
/*=======Top menu========*/
/*=======================*/

.menu {
  position: relative;
  height: 56px;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  background: rgba(247, 210, 117, 0.38);
  border: 1px solid burlywood;
}

.menu__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 50px;
  padding: 0;
  min-height: 56px;
  height: 56px; /*для центрирования в IE по вертикали*/
  list-style: none;
  color: #333333;
}

.menu__item {
  text-align: center;
}

.menu__item--interval {
  display: block;
  width: 90px;
  height: 1px;
}

.menu__link {
  color: #4E2623;
}

.menu__link:hover {
  color: #deaa87;
}

/*=======================*/
/*====Logotype__eagle====*/
/*=======================*/

.logo-eagle__circle {
  position: absolute;
  width: 110px;
  height: 110px;
  top: -30px;
  left: 545px;
  border-radius: 120px;
  box-shadow: 0 0 0 3px #f4e6c2, 0 0 13px #f4e6c2;
  background: #f4e6c2;
  z-index: 2;
}

.logo-eagle__image {
  position: absolute;
  top: -25px;
  left: 550px;
  z-index: 4;
}

/*============*/
/*==Notarius==*/
/*============*/

.notarius {
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 900px;
  height: 350px;
  text-align: left;
  color: #f4e6c2;
}

.notarius__preamble {
  margin: 0;
  padding-top: 20px;
}

.notarius__header {
  margin: 0;
  font-size: 30px;
  font-weight: 500;
}

.notarius__name {
  margin: 0;
  font-size: 42px;
  font-weight: 300;
}

.notarius__description {
  width: 430px;
  margin: 0;
  padding-bottom: 20px;
  line-height: 24px;
}

.notarius__image {
  align-self: flex-end;
  margin: 20px 0;
}

/*=============*/
/*===Actions===*/
/*=============*/

.actions {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 350px;
}

.actions__header {
  margin: 0;
  padding-top: 20px;
  padding-left: 30px;
  font-size: 30px;
  font-weight: 600;
  color: #4E2623;
}

.actions__list {
  list-style: none;
  text-align: left;
  font-size: 18px;
  line-height: 26px;
}

.actions__item {
  padding-left: 40px;
  padding-bottom: 10px;
  background: url("../img/pencil_min.png") no-repeat;
  cursor: pointer;
  color: #7c3c3c;
}

.actions__item:hover {
  color: #7c3c3c;
  font-weight: bolder;
}

.actions__content {
  position: relative;
  width: 640px;
  height: 350px;
  margin-top: 15px;
  padding: auto 0;
  align-self: flex-end;
  overflow-y: auto;
}

.actions__doc {
  position: absolute;
  display: none;
  padding: 20px;
  text-align: left;
  text-transform: none;
}

.actions__doc--active {
  display: block;
  border-left: 5px solid rgba(222, 170, 135, 0.3);
  border-right: 5px solid rgba(222, 170, 135, 0.3);
}

.actions__checklist {
  font-weight: bold;
  text-transform: uppercase;
  color: #7C3C3C;
}

.actions__checklist:hover {
  color: #deaa87;
}

.actions__checklist:active {
  font-weight: bold;
  color: #7C3C3C;
}

/*============*/
/*==Services==*/
/*============*/

.services {
  width: 800px;
  min-height: 250px;
  color: #f4e6c2;
}

.services h2 {
  margin: 0 auto;
  padding-top: 20px;
  font-size: 30px;
  font-weight: 400;
}

.services p {
  text-align: left;
}

.services__form {
  display: flex;
  flex-direction: column;
  align-items: start;
  min-height: 430px;
  margin: 0 200px ;
  padding-bottom: 40px;
  color: #f4e6c2;
}

.services__form input, textarea {
  border: 1px solid #f4e6c2;
  border-radius: 3px;
  background-color: #f4e6c2;
  color: #572925;
  outline-color: #ff5554;
}

.services__form input {
  width: 400px;
  height: 40px;
  padding-left: 20px;
  font-size: 14px;
}

.services__form input:hover {
  background-color: rgba(249, 243, 239, 0.9);
  color: #572925;
}

.services__form input:focus {
  background-color: rgba(249, 243, 239, 0.9);
  color: #572925;
}

.services__form input[type="file"] {
  width: 400px;
  padding: 2px;
  padding-right: 19px;
}

.services__form input[type="checkbox"] {
  width: 15px;
  height: 15px;
  margin-top: 20px;
}

.services__form textarea {
  box-sizing: border-box;
  width: 800px;
  min-height: 250px;
  margin: 10px 0;
  padding: 20px;
  font-family: "PT Sans", Arial sans-serif;
}

.services__form textarea:hover {
  background-color: rgba(249, 243, 239, 0.9);
}

.services__form textarea:focus {
  background-color: rgba(249, 243, 239, 0.9);
}

label {
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: bold;
}

.custom-control-label {
  text-transform: lowercase;
  font-weight: normal;
}


.custom-control-label a {
  text-transform: uppercase;
  font-weight: bold;
  color: #572925;
}

.custom-control-label a:hover {
  color: #f4e6c2;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.form-group .captcha {
  flex-direction: row;
}

.captcha-group {
  display: flex;
  margin-top: 20px;
}

.img-captcha, .refresh-captcha {
  width: 135px;
  height: 45px;
}

.agreement {
  text-align: left;
}


.btn-light {
  height: 45px;
  padding: 10px 20px;
  border: 1px solid #f4e6c2;
  border-radius: 3px;
  background-color: #f4e6c2;
  text-transform: uppercase;
  line-height: 24px;
  color: #572925;
}

.btn-light:hover {
  background-color: rgba(249, 243, 239, 0.9);
}

.btn-light:focus {
  outline: none !important;
  background-color: rgba(249, 243, 239, 0.9);
}

.btn-light:active {
  background-color: #7c3c3c;
  color: #f4e6c2;
  outline: none !important;
}

.btn-light::-moz-focus-inner {
  border: 0 !important;
}

.btn-primary {
  height: 45px;
  margin-top: 20px;
  padding: 10px 20px;
  border: 1px solid #f4e6c2;
  border-radius: 3px;
  background-color: #f4e6c2;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 24px;
  color: #572925;
}

.btn-primary:hover {
  background-color: rgba(249, 243, 239, 0.9);
}

.btn-primary:active {
  background-color: #7c3c3c;
  color: #f4e6c2;
  outline: none !important;
}

.btn-primary::-moz-focus-inner {
  border: 0 !important;
}

/*================*/
/*==Tariffs==*/
/*================*/

.tariffs {
  height: 550px;
  overflow-y: scroll;
  overflow-x: hidden;
  text-transform: none;
  color: #f4e6c2;
}

.tariffs-header th {
  width: auto;
}

.tariffs-header th:nth-child(n+3) {
  width: 140px;
}

.tariffs-table {
  width: 1100px;
  margin-bottom: 20px;
  border: 1px dotted #f4e6c2;
  border-bottom: 1px solid #f4e6c2;
  border-collapse: collapse;
}

.tariffs-table caption {
  margin: 10px auto;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 400;
}

.tariffs-table th {
  border: 1px solid #f4e6c2;
  padding: 10px;
}

.tariffs-table td {
  padding: 10px;
  border: 1px dotted #f4e6c2;
  text-align: left;
}

.tariffs-table td:first-child {
  vertical-align: inherit;
}


/*===============*/
/*==News==*/
/*===============*/

.news {
  margin: 0 auto;
  padding: 0;
  width: 900px;
  min-height: 500px;
  color: #4E2623;
}

.news-list {
  margin: 0;
  padding: 0;
  padding-bottom: 20px;
}

.news h2 {
  margin: 0;
  padding-top: 20px;
  font-size: 30px;
  font-weight: 600;
}

.news-item h4 {
  margin: 0 auto;
  padding: 0;
  padding-bottom: 10px;
  display: block;
  width: 600px;
}

.news-item p {
  margin: 0;
  padding: 0;
  text-align: left;
  text-transform: none;
}

.news-date {
  display: block;
  width: 85px;
  height: 25px;
  margin-right: 900px;
  margin-top: 20px;
  border-radius: 4px;
  background-color: rgba(222, 170, 135, 0.3);
  text-transform: uppercase;
  font-weight: bold;
  color: #7c3c3c;
  line-height: 25px;
}

.news-read-more {
  display: block;
  width: 120px;
  height: 25px;
  margin-right: 900px;
  margin-top: 10px;
  text-align: left;
  font-weight: bold;
  color: #7c3c3c;
}

.news-read-more:hover {
  color: #deaa87;
}

.news-page p {
  display: block;
  width: 900px;
  margin: 20px auto;
  text-align: left;
  text-transform: none;
}

/*================*/
/*==Footer & map==*/
/*================*/

.map {
  display: block;
  width: 600px;
  height: 350px;
  margin: 20px 0;
  background-image: url("../img/map-background.png");
}

frame {
  border: hidden;
}
.contacts {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 20px 0;
  margin-left: 100px;
  width: 350px;
  color: #f4e6c2;
  background: #7c3c3c linear-gradient(6deg, transparent 72%, #572925 27%);
}

.contacts h2 {
  margin: 0;
  font-size: 30px;
  font-weight: 400;
}

.contacts-list {
  margin: 0;
  padding: 0;
}

.contacts-item {
  font-size: 16px;
  line-height: 24px;
}

.rights {
  margin: 0;
  padding: 24px;
  font-size: 10px;
  text-transform: none;
  text-align: left;
  color: #f4e6c2;
}

/*===============*/
/*===Scrollbar===*/
/*===============*/

::-webkit-scrollbar {width: 5px; height: 5px;}
::-webkit-scrollbar-button {background-color: #a0401a; }
::-webkit-scrollbar-track {background-color: #deaa87;}
::-webkit-scrollbar-track-piece {background-color: #f4e6c2;}
::-webkit-scrollbar-thumb {height: 30px; background-color: #a0401a; border-radius: 5px;}
::-webkit-scrollbar-corner {background-color: #deaa87;}
::-webkit-resizer {background-color: #a0401a;}
